header {
  padding: 12px 0 5px 24px;
  border-bottom: 2px solid silver;
  width: 100%;
  display: flex;
  align-items: baseline;
  column-gap: 12px;
}

.header__info {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.support-text {
  position: absolute;
  right: 20px;
  word-break: break-word;
  max-width: 290px;
  font-size: 12px;
}

.header__info-content {
  background: black;
  padding: 14px;
  position: absolute;
  left: 200px;
  border-radius: 12px;
  width: 200px;
  top: 20px;
  z-index: 101;
  color: #fff;
}

.header__link {
  text-decoration: none;
}

.header__info-dropdown {
  width: 200px;
  height: 200px;
  background: grey;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 2px solid silver;
  width: 100%;
  height: 80px;
  padding: 20px;
}

#app-content {
  padding: 20px 80px;
}

@media screen and (min-width: 900px) {
  main {
    padding: 64px 120px;
  }

  .swiper {
    margin-bottom: 0;
  }
}

.card__image {
  max-height: 165px;
  height: 100%;
  object-fit: cover;
  width: 200px;
}

.recommended {
  width: 100%;
  background: purple;
  color: #fff;
  padding: 2px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: 700;
}

.is-gos {
  box-shadow: 0 0 11px 8px rgba(80, 73, 34, 0.2);
}

.is-gos img  {
  object-fit: scale-down;
}

.sort {
  margin-bottom: 24px;
}

.sort__link {
  color: purple;
  cursor: pointer;
  text-decoration: none;
  margin-left: 12px;
}

.preview-card__badge {
  height: 15px;
  font-size: 12px;
  background: #a61cbb;
  color: #fff;
  border-radius: 12px;
  padding: 0 8px 8px 8px;
}

.flexible {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.swiper {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.swiper__image {
  height: 300px;
  border: 18px;
}

.swiper-wrapper {
  transition-timing-function: linear;
  transition-duration: 500ms;
}

.preview-cards {
  margin-top: 48px;
  margin-bottom: 48px;
}

.support-bubble {
  position: fixed;
  bottom: 0;
  right: 72px;
  width: 400px;
  height: 500px;
  z-index: 100;
  border: 1px solid silver;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px 24px;
  background: #fff;
  overflow: auto;
  font-weight: 700;
}

.support-bubble--mini {
  height: 70px;
  overflow: hidden;
}

.support-bubble--mini > .support-bubble__body {
  display: none;
}

.support-bubble__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  cursor: pointer;
}

.support-bubble__body {
  padding: 4px;
  display: block;
  margin-top: 20px;
}

.support-bubble__toggle {
  background: none;
  border: none;
  font-size: 24px;
}

.support-bubble__section:not(:first-of-type) {
  margin-top: 24px;
}

.support-bubble__section-title {
  text-decoration: underline;
  padding: 8px;
  border-bottom: 2px solid silver;
}

.support-bubble__section-links a {
  display: block;
  margin-left: 12px;
}

.support-bubble__section-links a:first-of-type {
  margin-top: 12px;
}

.useful-block {
  margin-top: 24px;
  border: 1px solid silver;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  column-gap: 12px;
  width: 240px;
}

/* Preview Card Page */
.place__poster img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.place-sidebar {
  width: 330px;
  height: 250px;
  position: absolute;
  z-index: 99;
  margin-top: -84px;
  right: 112px;
  background: white;
  border: 1px solid silver;
  border-radius: 12px;
  padding: 24px;
}

.place-sidebar__btns {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.place-sidebar__btns button,
.place-sidebar__btns a {
  width: 90px;
  height: 40px;
}

.place-sidebar__header-title {
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}

.place-sidebar__header-btn {
  width: 100%;
  height: 42px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
}

.place-body {
  margin: 28px 128px;
}

.place-body__description {
  max-width: 800px;
}

.place-body__description-more {
  color: purple;
  margin-left: 2px;
  text-decoration: none;
}

.place-sidebar__bot {
  margin-top: 24px;
  border: 1px solid silver;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  column-gap: 12px;
  position: absolute;
  bottom: 24px;
  width: 85%;
}

.place-sidebar__bot-title {
  font-weight: 700;
}

.place-sidebar__location {
  margin-top: 12px;
}

.place-sidebar__dropdown-toggle {
  background: none;
  border: none;
}

.place-sidebar__dropdown-content {
  display: block;
  background: #dadada;
  padding: 12px;
  border-radius: 12px;
  position: absolute;
  right: 320px;
  top: -15px;
  width: 280px;
  z-index: 99;
}

.place-section {
  margin-bottom: 48px;
  max-width: 800px;
}

.place-carousel {
  width: 600px;
  height: 300px;
}

.useful {
  display: flex;
  column-gap: 24px;
}

.swiper-places {
  margin-left: 0;
  margin-right: 0;
  max-width: 1000px;
}

.swiper-places .swiper-slide img {
  border-radius: 12px;
}

